@import 'src/sources/styles/mixins';
@import 'src/sources/styles/variables';

.header {
  @include flex($align: center, $justify: space-between);
  max-width: 1348px;
  margin: auto;
  padding-top: 24px;
}
.menu {
  display: flex;
}
.menuItem {
  @include textStyle($family: $titleFont, $weight: 400, $size: 16px, $height: 18px);
  text-transform: uppercase;
}
.menuItem:not(:last-child) {
  margin-right: 40px;
}
.btn {
  position: relative;
  @include textStyle($size: 16px, $weight: 400, $family: $titleFont, $height: 18px);
  text-transform: uppercase;
  width: 156px;
  height: 40px;
  padding: 11px 0;
  border: none;
  border-radius: 61px;
  background-color: transparent;

  > div {
    position: absolute;
    top: 0;
  }
}
