@import 'src/sources/styles/mixins';
@import 'src/sources/styles/variables';

.wrapper {
  position: relative;
  max-width: 1110px;
  height: 565px;
  padding-top: 94px;
  padding-left: 185px;
  margin-top: 103px;
  background-repeat: no-repeat;
  background: url(../../../../sources/subscribe/img.png) center;
  border-radius: 10px;
}

.frame {
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.title {
  position: relative;
  @include textStyle($family: $titleFont, $weight: 400, $size: 60px, $height: 58px);
  width: 520px;
  height: 212px;
  color: #ffffff;

  span {
    position: absolute;
    display: flex;
    bottom: -9px;
    @include textStyle($family: $textFont, $weight: 400, $size: 16px, $height: 29px);
  }
}

.subsForm {
  position: relative;
  margin-top: 70px;

  &Input {
    @include textStyle($family: $textFont, $weight: 400, $size: 16px, $height: 29px);
    color: #0c0b10;
    width: 486px;
    height: 55px;
    padding: 13px 30px;
    background: rgba(255, 255, 255, 0.14);
    border: 1px solid #ffffff;
    backdrop-filter: blur(20px);
    border-radius: 95px;

    &::placeholder {
      @include textStyle($family: $textFont, $weight: 400, $size: 16px, $height: 29px);
      color: #0c0b10;
    }
  }

  &Btn {
    @include textStyle($family: $titleFont, $weight: 400, $size: 24px, $height: 26px);
    width: 330px;
    height: 55px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background: #ffffff;
    border-radius: 74px;
    border: none;
    position: absolute;
    transform: translateX(-86px);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -26px;
      left: 50%;
      transform: translateX(-50%);
      width: 280px;
      height: 99px;
      background-image: url(../../../../sources/common/whiteBorder.svg);
      background-repeat: no-repeat;
    }
  }
}

.shadow {
  position: absolute;
  top: 46px;
  left: 27px;
  z-index: -1;
  max-width: 1055px;
  height: 537px;
  background-image: url(../../../../sources/subscribe/img.png);
  opacity: 0.78;
  filter: blur(66px);

  img {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .wrapper {
    padding-top: 74px;
    padding-left: 0;
    text-align: center;
  }
  .title {
    @include textStyle($family: $titleFont, $weight: 400, $size: 44px, $height: 44px);
    width: 100%;
    display: initial;

    span {
      @include textStyle($family: $textFont, $weight: 400, $size: 18px, $height: 24px);
      position: initial;
      width: 158px;
      margin: 0 auto;
      margin-top: 10px;
    }
  }

  .subsForm {
    display: flex;
    flex-direction: column;
    padding: 0 16px;

    &Input {
      width: 100%;
      text-align: center;
    }
    &Btn {
      margin-top: 34px;
      transform: translateX(0);
      position: relative;
      width: 100%;
    }
  }
}
