@use 'sources/styles/variables.scss' as *;
@use 'sources/styles/mixins.scss' as mixin;

.footer {
  margin-top: 96px;
  padding-bottom: 34px;
  text-align: center;

  &Menu {
    @include mixin.textStyle($family: $titleFont, $weight: 400, $size: 16px, $height: 18px);
    text-transform: uppercase;
    @include mixin.flex($align: center, $justify: center);
    margin-top: 80px;
    margin-bottom: 106px;

    :last-child {
      margin-right: 0;
    }
  }
}

.blockMenu {
  display: flex;

  &Item {
    position: relative;
    width: 156px;
    padding: 11px 0;
    margin-right: 25px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -9px;
      width: 156px;
      height: 56px;
      background-image: url(../../../../sources/common/borderCallMe.svg);
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.footerBtn {
  position: relative;
  @include mixin.textStyle($family: $titleFont, $weight: 400, $size: 16px, $height: 18px);
  text-transform: uppercase;
  text-align: center;
  width: 156px;
  height: 40px;
  padding: 11px 0;
  margin-right: 25px;
  border: none;
  border-radius: 61px;
  background: transparent;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    width: 156px;
    height: 56px;
    background-image: url(../../../../sources/common/borderCallMe.svg);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover::before {
    opacity: 1;
  }
}

.logoSizes {
  width: 215px;
  height: auto;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  @include mixin.textStyle($family: $textFont, $weight: 400, $size: 12px, $height: 16px);
  color: #ffffff;
}

@media (max-width: 1023px) {
  .footer {
    padding-bottom: 27px;
  }
  .logoSizes {
    width: 109px;
    height: auto;
  }
  .footerMenu {
    position: relative;
    flex-wrap: wrap;
    margin-top: 142px;
    margin-bottom: 75px;
  }
  .blockMenuItem {
    flex: 50%;
    margin-right: 0;
  }
  .footerBtn {
    position: absolute;
    top: -94px;
    left: 50%;
    transform: translateX(-50%);
    margin-right: 0;
    margin-bottom: 0;

    &::before {
      opacity: 1;
    }
  }
  .rightMenu {
    order: 1;
  }
  .leftMenu {
    order: 2;
  }
  .lastEl {
    margin-right: 0;
  }
  .footerBottom {
    flex-direction: column;

    > p {
      margin-bottom: 8px;
    }
  }
}
