@import 'src/sources/styles/mixins';
@import 'src/sources/styles/variables';

.footer {
  margin-top: 96px;
  padding-bottom: 34px;
  text-align: center;

  &Menu {
    @include textStyle($family: $titleFont, $weight: 400, $size: 16px, $height: 18px);
    text-transform: uppercase;
    @include flex($align: center, $justify: center);
    margin-top: 80px;
    margin-bottom: 106px;
  }
}

.blockMenu {
  display: flex;

  &Item {
    position: relative;
    width: 156px;
    padding: 11px 0;
    margin-right: 25px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -9px;
      width: 156px;
      height: 56px;
      background-image: url(../../../../sources/common/borderCallMe.svg);
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.footerBtn {
  position: relative;
  @include textStyle($family: $titleFont, $weight: 400, $size: 16px, $height: 18px);
  text-transform: uppercase;
  width: 156px;
  height: 40px;
  margin-right: 25px;
  border: none;
  border-radius: 61px;
  background: transparent;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    width: 156px;
    height: 56px;
    background-image: url(../../../../sources/common/borderCallMe.svg);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover::before {
    opacity: 1;
  }
}

.logoSizes {
  width: 215px;
  height: auto;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  @include textStyle($family: $textFont, $weight: 400, $size: 12px, $height: 16px);
  color: #ffffff;
}
