//Fonts
$font1: 'Segoe UI';
$titleFont: 'Forum';
$textFont: 'Manrope', sans-serif;
$defaultFont: Verdana, sans-serif;
$weatherFont: 'Jost', sans-serif;

// Sizes
$defaultFontSize: 14px;

// Colors
$brandColor: #12986f;
$fontGray: #a6a6a6;
$background1: #ffffff;
$background2: #12986f0d;
$bodyBackground: #e2d3ce;
