@use 'sources/styles/variables.scss' as *;
@use 'sources/styles/mixins.scss' as mixin;

.title {
  @include mixin.textStyle($family: $titleFont, $weight: 400, $size: 60px, $height: 58px);
  text-align: center;
  margin-top: 15px;
  margin-bottom: 37px;
}
.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

@media (max-width: 768px) {
  .title {
    @include mixin.textStyle($family: $titleFont, $weight: 400, $size: 40px, $height: 44px);
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
